<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RoutingAspNetCoreDemo.Conventional</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RoutingAspNetCoreDemo.Conventional</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <!--This anchor demonstrates how to use "standard" convention routing,
                                e.g. one that matches controller/action/id? pattern defined in Startup.cs-->
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <!--This anchor will match the "account" convention route,
                                passing in an ID of 5-->
                            <a class="nav-link text-dark" asp-route="account" asp-route-id="5">Account</a>
                        </li>
                        <li class="nav-item">
                            <!--This anchor will match the "standard" convention route as well,
                                passing in an ID of 89.-->
                            <a class="nav-link text-dark" asp-controller="User" asp-action="Index" asp-route-id="89">User (Mapped)</a>
                        </li>
                        <li class="nav-item">
                            <!--This anchor will match the defined "User" route.-->
                            <a class="nav-link text-dark" asp-route="User" asp-route-id="89">User (Route)</a>
                        </li>
                        <li class="nav-item">
                            <!--This anchor will attempt to redirect to one of the ambiguous actions
                                in the Account controller. Because the Routing middleware cannot decide
                                which route matches better, ASP.NET will throw an AmbiguousActionException-->
                            <a class="nav-link text-dark" asp-controller="account" asp-action="IndexAmbiguous" asp-route-id="77">Ambiguous</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="blog" asp-controller="Post" asp-action="Index">Area</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - RoutingAspNetCoreDemo.Conventional - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
