<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RoutingAspNetCoreDemo.Attribute</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Attribute Routing Demo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="HttpGet">[HttpGet]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               asp-controller="Home"
                               asp-action="Parameters"
                               asp-route-id="19"
                               asp-route-type="Test Name"
                               asp-route-level="5">Parameters</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="NonExistant" asp-action="Index">Non-Existant</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Index" asp-id="5">Ambiguous</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Token" asp-action="Details" asp-id="5">Token</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="blog" asp-controller="Post" asp-action="Index">Area</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="blog" asp-controller="Post" asp-action="Article" asp-route-id="8" asp-route-title="this-is-a-test-article">Article</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
