@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Dear Reader!</h1>
</div>

<p>
    In this sample project, you will find many ways of setting up 
    Convention-based Routing for your ASP.NET Core MVC applications.
</p>

<p>
    The links above demonstrate some of these methods.  
    But before you look at them, take a look at the Startup.cs file in this project.
    In that file, you will see the routes defined in the call to UseEndpoints.
</p>

<p>For example, the "Home" link above demonstrates matching the "controller/action/id?" route pattern.</p>

<p>
    The "User (Mapped)" and "User (Route)" links above go to the same page, but via different routes;
    the former matches the basic "controller/action/id" route pattern, while the latter matches a specially-defined route.
</p>

<p>
    Finally, the "Ambiguous" link demonstrates what happens when the routing middleware cannot find a "best" route match;
    the system throws an AmbiguousActionException.
</p>

<p>
    Thanks for reading, and Happy Coding!
</p>