@model RoutingAspNetCoreDemo.Conventional.Models.ParametersVM
@{
    ViewData["Title"] = "Parameters";
}

<h1>Parameters</h1>

<p>You passed in: Level @Model.Level, Type "@Model.Type", and ID @Model.ID.</p>

<p>
    Now try changing the parameters in the URL!
</p>